/.libs
/html
/*.stamp
/xrdesktop-decl-list.txt
/xrdesktop-decl-list.txt.bak
/xrdesktop-decl.txt
/xrdesktop-decl.txt.bak
/xrdesktop-undeclared.txt
/xrdesktop-undocumented.txt
/xrdesktop-unused.txt
/xrdesktop.args
/xrdesktop.hierarchy
/xrdesktop.interfaces
/xrdesktop.prerequisites
/xrdesktop.signals
/xrdesktop.types
/gtkdoc-check.log
/gtkdoc-check.test
/gtkdoc-check.trs
/test-suite.log

